body {
    width: 100%;
    height: 100%;
    background-color: white;
    text-align: center;
    background-image: url('../images/bgimage.jpg');
}

h1 {
    text-shadow: 3px 3px 3px rgb(0, 0, 0);
    color: white;
    font-size: 48px;
    margin-bottom: 20px;
}

p {
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    color: white;
    font-size: 24px;
    margin-bottom: 30px;
}



.button:hover {
    background-color: hsl(324, 88%, 63%);
}

.button-container {
    display: flex;
    justify-content: center;
}

.button {
    display: inline-block;
    padding: 20px 40px;
    border-radius: 50px;
    background-color: hwb(319 49% 0%);

    color: #414141;
    border: none;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    -webkit-tap-highlight-color: transparent;
}

.buttontwo {
    display: inline-block;
    padding: 20px 40px;
    border-radius: 50px;
    background-color: rgb(74, 247, 88);
    color: #414141;
    border: none;
    text-decoration: none;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    -webkit-tap-highlight-color: transparent;
}

button a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

.buttontwo a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

.buttontwo:hover {
    background-color: hwb(112 15% 6%);
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    /* Adjust background color as needed */
    z-index: 9999;
    /* Ensure it's on top */
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-spinner {
    width: 50px;
    height: 50px;
    border: 4px solid #f3f3f3;
    /* Adjust border color */
    border-top: 4px solid #494848;
    /* Adjust top border color */
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Black background with opacity */
}

/* Modal content (the video) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Close button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}


.modal-two {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Black background with opacity */
}

/* Modal content (iframe) */
.modal-content-two {
    margin: auto;
    display: block;
    width: 92%;
    height: 40%;
    max-width: 800px;
}

/* Close button */
.closetwo {
    position: absolute;
    top: 15px;
    right: 35px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}